<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Layout Component</title>
  </head>
  <body>
    <nav>Nav</nav>
    <menu>
      <button>New</button>
      <button>Reply</button>
      <button>Forward</button>
      <button>Mark unread</button>
      <button>Trash</button>
    </menu>
    <section>
      <div class="email">
        <h4>
          <a href="../index.html" title="Link to home page">Home Page</a>
        </h4>
      </div>
      <div class="email">
        <h4>
          <a href="../accordion/index.html" title="accordion component"
            >Accordion</a
          >
        </h4>
      </div>
      <div class="email">
        <h4>
          <a href="../table/index.html" title="Table component">Table</a>
        </h4>
      </div>
      <div class="email">
        <h4>
          <a href="../pagination/index.html" title="Pagination component"
            >Pagination</a
          >
        </h4>
      </div>
      <div class="email">
        <h4>
          <a href="../hero/index.html" title="Hero component">Hero</a>
        </h4>
      </div>
      <div class="email">
        <h4>
          <a href="index.html" title="Layout component">Layout component</a>
        </h4>
      </div>
    </section>
    <main>Email view</main>
    <aside>Additional info</aside>
  </body>
</html>
