/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/*
MAIN COLOR: #087f5b
GRAY COLOR: #343a40
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
  text-align: center;
}

nav.menu {
  width: 80%;
  text-align: center;
  font-size: 32px;
  margin: 32px auto;
}

nav.menu ul {
  list-style-type: none;
}

nav.menu ul li {
  display: inline-block;
  margin-right: 16px;
}

.pagination {
  margin-top: 96px;
  width: 60%;
  height: 10rem;
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: ceenter;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 2rem;
}

.btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #999;
  cursor: pointer;
}

.btn-icon {
  width: 24px;
  height: 24px;
  stroke: #999;
  stroke-width: 2;
}

.pagination ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.pagination ul li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 1.5;
}

.pagination ul li:hover,
.pagination ul li:hover button {
  background-color: #087f5b;
  border: none;
}

.pagination ul li:hover,
.pagination ul li:hover button svg {
  stroke: #fff;
}

.pagination ul li:hover a:link {
  color: #fff;
}

.pagination ul li.active {
  background-color: #087f5b;
}

.pagination ul li a:link,
.pagination ul li a:active {
  text-decoration: none;
  color: #666;
}

.pagination ul li.active a:link,
.pagination ul li.active a:active {
  color: #fff;
}

/* 
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  margin-top: 128px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pagination ul {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.pagination .active {
  background-color: #087f5b;
  color: #fff;
}

.pagination ul li,
.pagination ul li button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 2;
  font-size: 24px;
}

.pagination ul li a:link,
.pagination ul li a:active {
  text-decoration: none;
  color: rgb(61, 60, 60);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 2;
  font-size: 24px;
}

.pagination ul li:hover a {
  background-color: #087f5b;
  color: #fff;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 2;
  font-size: 24px;
}

.pagination ul li:first-child button {
  border: 1px solid gray;
  line-height: 2.2;
}

.pagination ul li:last-child button {
  border: 1px solid gray;
  line-height: 2.2;
}

.btn-icon {
  width: 24px;
  height: 24px;
}

.pagination ul {
  display: flex;
  justify-content: center;
  align-items: center;
} */
